* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #b3eb50, #429421);
}

.card {
  margin: 120px auto;
  width: 30%;
  max-width: 320px;
  height: 40%;
  height: 400px;
  background: #272d40;
  padding: 28px;
  border-radius: 15px;
  color: white;
}

.heart_cart_container {
  display: flex;
  justify-content: space-between;
}

.card_heart,
.card_cart {
  font-size: 25px;
}

.card_img {
  width: 100%;
}

.card_img img {
  width: 100%;
}
